extends nLayout
block content
  .left_container
    .col-md-3
      ul.nav.nav-pills.nav-stacked
        li.nav-header This Week in Geography
        li
          a(href='/home') This Week in Geography
        li
          a(href='/home/thisWeek') This Week
        li
          a(href='/home/archive') Archive
        li
          a(href='/home/about') About
  .right_container
    .col-md-9
      ul.about The About Page
        li
          a(href='/home/about') About